name: Pipeline CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ make libsfml-dev lcov

      - name: Compile project
        run: |
          g++ -std=c++17 -Wall -Wextra -pedantic main.cpp -o snake_game -lsfml-graphics -lsfml-window -lsfml-system

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: snake-game-linux
          path: snake_game
